azure==2.0.0rc6
azure-batch==1.0.0
azure-common==1.1.4
azure-mgmt==0.30.0rc6
azure-mgmt-batch==1.0.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-keyvault==0.30.0rc6
azure-mgmt-logic==1.0.0
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==1.0.0
azure-mgmt-redis==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-scheduler==1.0.0
azure-mgmt-storage==0.30.0rc6
azure-nspkg==1.0.0
azure-servicebus==0.20.3
azure-servicemanagement-legacy==0.20.4
azure-storage==0.33.0
certifi==2016.9.26
cffi==1.8.3
chardet==2.3.0
cryptography==1.5.2
enum34==1.1.6
idna==2.1
isodate==0.5.4
keyring==10.0.2
msrest==0.4.4
msrestazure==0.4.4
oauthlib==2.0.0
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.5.3
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
